<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Edmund the Hungry Llama</title>
        <meta name="description" content="A node-based, multiplayer logic-puzzle game">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/core.css">
        <link rel="stylesheet" href="css/main.css">

    </head>
    <body>

    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container">
        <div id="bg">
            <div id="play">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <input type="name" class="form-control input-lg" id="name" placeholder="Name"/>
                    </div>
                    <button type="button" class="btn btn-primary btn-lg" id="start-game">Play Now</button>
                </form>
            </div>
        </div>
        <div class="col-md-10 col-md-offset-1">
            <h2>Edmund is a very hungry llama.<br/>You might say he's the hungriest llama.</h2>
            <p>The problem is that he's very picky. Llamas can be total divas. Somedays he only likes fruit. Others
                he only likes red fruit. Sometimes he'll eat anything with cheese except pizza.</p>
            <p>The good news is Edmund will tell you exactly what he wants.</p>
            <p>The bad news is he will only do so using logic diagrams.</p>
            <h3>Wait. What?</h3>
            <p>Logic diagrams are used by engineers to describe how circuits work. You can learn more about the
                different logic symbols on <a href="http://en.wikipedia.org/wiki/Logic_gate">Wikipedia</a>, of course.</p>
        </div>                  
    </div>
    
    <!-- jQuery --> 
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="public/bower_components/jQuery/jquery.min.js"><\/script>')</script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
    <script>
        $(function(){
            $("#submit").click(function() {
                socket.emit("answer", {player:"me", answer:["strawberry"]});
                console.log("send answer");
            });

            $("#start-game").click(function() {
                if ($("#name").val().length == 0) {
                    alert("You need to enter a name to play");
                }
                window.location.href = "/game?n=" + $("#name").val();
            });
        });
    </script>
    </body>
</html>